.loading-page {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.loading-page img {
  width: 300px;
}

.loading-page h2 {
  font-size: 40px;
  line-height: 67px;
  text-align: center;
  color: #fff;
}
