.listBox {
  margin-bottom: 50px;
  margin-top: 85px;
}

.listBox.not-active {
  display: none;
}

.RankListTitle {
  font-size: 40px;
  line-height: 67px;
  color: #fff;
  margin-bottom: 50px;
}

.RankListContainer {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.RankListContainer thead tr {
  color: #72be00;
  text-align: left;
}

.RankListContainer th {
  padding: 12px 15px;
}

.RankListContainer th:nth-child(2) {
  width: 60%;
}

tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

tbody tr:last-child {
  box-shadow: 0 13px 21px -21px rgba(0, 0, 0, 0.6);
}

td {
  padding: 12px 15px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  font-weight: bold;
  height: 80px;
}

td:first-of-type {
  width: 0;
  font-size: 28px;
  font-weight: bold;
}

.RankListItemPlayer {
  display: flex;
  align-items: center;
}

.RankListItemPlayer img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
  border-radius: 50%;
}

.RankListFooter {
  text-align: center;
}

.RankListButton {
  background-color: #72be00;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 53px;
  box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out;
}

.RankListButton:hover {
  background-color: #3e8e41;
}
