.RankListItemContainer {
  height: 72px;
  padding: 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.RankListItemContainer th {
  padding: 12px 15px;
}

.RankListItemContainer:nth-of-type(even) {
  background-color: #f3f3f3;
}

.RankListItemContainer:last-of-type {
  border-bottom: 2px solid #009879;
}

.RankListItemPlayer {
  display: flex;
  align-items: center;
  height: 80px;
}

.RankListItemPlayer img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
  border-radius: 50%;
}

.RankListItemPlayer span {
  font-weight: bold;
}

td {
  padding: 12px 15px;
  font-size: 16px;
  color: #555;
}

td:first-of-type {
  width: 0;
  font-size: 28px;
  font-weight: bold;
}
